body {
    background-color: black;
}
h1 {
    text-align: center;
    color: white;
}
div{
    text-align: center;
}
a {
    text-align: center;
}
p {
    text-align: center;
    color: white;
}
span {
    text-align: center;
}